
*{
    font-family: "Poppins", sans-serif;
}
  

a, label{
    color: #fff;
    text-decoration: none;
}

p {
    color:#d7d7d7;
    font-size: 12px;
}

h2{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}

h4, h5, h6 {
    font-size: 18px;
    color: #d7d7d7;
    font-weight: 200;
    line-height: 1.5rem;
}

.flex-right{
    display: flex;
    align-items: flex-start;
}

#config{
    width: 50%;
    padding-top: 100px;
    padding-bottom: 70px;
}

#config-setup{
    width: 50%;
    padding-top: 100px;
    padding-bottom: 70px;
}

#bg-right{
    width: 600px;
}

nav{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: #fff;
}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
}

li{
    margin: 0 15px;
    
}

.tuto{
    padding: 25px 0;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.048); 
    backdrop-filter: blur(20px); 
    padding: 1em;
    z-index: 1000;
    padding: 15px 5px;    
}

body{
   background: #0e0914;    
}

.toast {
    background-color: #79367d !important;
    color: #fff;
}

.toast-code {
    background-color: #000 !important;
    color: #fff;
    
}

.toast-body-code {
    max-height: 400px; /* Define a altura máxima da área rolável */
    overflow-y: auto; 
}

.form-control{
    border-color: #4b4b4b;
    background:#0e0914;
    color: #d7d7d7;
}

.form-control:focus {
    background:#0e0914;
    color: #d7d7d7;
    border-color: #79367d;
    box-shadow: 0 0 0 .25rem rgb(138 13 253 / 25%);
}

.copy-secret {
    position: relative;
    cursor: pointer;
    color: greenyellow;
}

.copy-secret::after {
    content: "Copiar Webhook Secret";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #79367d;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 99999;
}

.copy-secret:hover::after {
    opacity: 1;
    visibility: visible;
}

.btn-primary {
    --bs-btn-bg: #79367d;
    --bs-btn-border-color: #79367d;
    --bs-btn-hover-bg: #8c3b91;
    --bs-btn-hover-border-color: #8c3b91;
    --bs-btn-active-bg: #8c3b91;
    --bs-btn-active-border-color: #8c3b91;
    --bs-btn-disabled-bg: #79367d;
    --bs-btn-disabled-border-color: #79367d;
}

.accordion{
    --bs-accordion-bg: #0e0914;
    --bs-accordion-color: #d7d7d7;
    --bs-accordion-btn-color: #4e4e4e;
    --bs-accordion-active-bg: #79367d;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-focus-box-shadow: none;
}

@media (max-width: 768px) {
    ul {
        display: none;
    }

    #img-right{
        display: none;
    }

    #config{
        width: 100%;
    }

}
