
*{
    margin: 0;
    padding: 0;
    border: none;
    border-style: none;
    font-family: "Poppins", sans-serif;
}
  

a, label{
    color: #fff;
    text-decoration: none;
}

p {
    color:#d7d7d7;
    font-size: 12px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}

h3{
    font-size: 24px;
}

h4, h5, h6 {
    font-size: 18px;
    color: #d7d7d7;
    font-weight: 200;
}

.container{
    width: 100%;
    padding: 50px 0;
}

.flex-right{
    display: flex;
    align-items: flex-start;
}

#config{
    width: 50%;
    padding-top: 150px;
}

#bg-right{
    width: 600px;
}



nav{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: #fff;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
}

li{
    margin: 0 15px;
    
}

.box {
    width: 1140px;
    margin: 0 auto;
    
}

.tuto{
    padding: 25px 0;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.048); /* Transparência */
    backdrop-filter: blur(20px); /* Efeito de blur */
    padding: 1em;
    z-index: 1000;
    padding: 15px 5px;    
}

body{
   /* background: linear-gradient(0deg, #000, #11001d); */
   background: #0e0914;
    
}

.form-control{
    border-color: #4b4b4b;
    background:#0e0914;
    color: #d7d7d7;
}

.form-control:focus {
    background:#0e0914;
    color: #d7d7d7;
    border-color: #79367d;
    box-shadow: 0 0 0 .25rem rgb(138 13 253 / 25%);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #79367d;
    --bs-btn-border-color: #79367d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8c3b91;
    --bs-btn-hover-border-color: #8c3b91;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8c3b91;
    --bs-btn-active-border-color: #8c3b91;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #79367d;
    --bs-btn-disabled-border-color: #79367d;
}